<div class="mt-5 ml-5 mr-5 mb-5" *ngIf="followedUsers.length > 0; else noUsers">
    <div class="w-auto bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-900 dark:border-gray-700">
        <mat-list role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <mat-list-item class="py-3" *ngFor="let user of followedUsers">
                <a class="flex items-center space-x-6 cursor-pointer" (click)="userId(user.id)">
                    <div class="flex-shrink-0">
                        <img [src]="user.profilePic" alt="{{ user.name }}'s profile picture" class="ml-5 w-10 rounded-full border-none"/>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-lg font-semibold text-gray-900 truncate dark:text-white">
                            {{ user.name }}
                        </p>
                    </div>
                </a>
            </mat-list-item>
        </mat-list>
    </div>
</div>
<ng-template #noUsers>
    <div class="text-center text-gray-500 text-lg font-medium mt-10">
        You haven't followed anyone yet.
    </div>
</ng-template>

