<mat-toolbar style="background-color: transparent !important; margin-top: 15px;">
    <span class="w-full text-white ml-5 font-bold font-sans text-3xl">Dashboard</span>
</mat-toolbar>

<mat-grid-list [cols]="isSmallScreen ? 1 : 12" [rowHeight]="isSmallScreen ? '3:2' : '2:4'" gutterSize="25px" class="mt-1 ml-5 mr-5">
    <mat-grid-tile [colspan]="isSmallScreen ? 1 : 4" class="bg-black p-4 rounded-lg">
        <div class="flex flex-col items-center justify-center w-full h-full p-6 bg-gray-950 rounded-lg shadow-lg">
            <div class="text-2xl font-semibold text-white mb-2">
                Total Users
            </div>
            <span class="text-4xl font-bold text-green-400">{{ userCount }}</span>
        </div>

    </mat-grid-tile>
    <mat-grid-tile [colspan]="isSmallScreen ? 1 : 4" class="bg-black p-4 rounded-lg">
        <div class="flex flex-col items-center justify-center w-full h-full p-6 bg-gray-950 rounded-lg shadow-lg">
            <div class="text-2xl font-semibold text-white mb-2">
                Total Posts
            </div>
            <span class="text-4xl font-bold text-green-400">{{ postsCount }}</span>
        </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="isSmallScreen ? 1 : 4" class="bg-black p-4 rounded-lg">
        <div class="flex flex-col items-center justify-center w-full h-full p-6 bg-gray-950 rounded-lg shadow-lg">
            <div class="text-2xl font-semibold text-white mb-2">
                Blocked Accounts
            </div>
            <span class="text-4xl font-bold text-green-400">{{ blockedAccountsCount }}</span>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="isSmallScreen ? 1 : 7" [rowspan]="isSmallScreen ? 1 : 2" class="bg-black rounded-lg">
        <div class="h-full w-full flex items-center justify-center">
            <div class="flex">
                <histogram/>
            </div>
        </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="isSmallScreen ? 1 : 5" [rowspan]="isSmallScreen ? 1 : 2" class="bg-black rounded-lg">
        <div class="h-full flex flex-col items-center justify-center">
            <h3 class="text-white text-lg font-bold mb-4">Daily Performance</h3>
            <div class="flex">
                <pie-chart class="w-full h-fit"/>
            </div>
        </div>
    </mat-grid-tile>

</mat-grid-list>
