<div class="bg-neutral-700 h-52 relative">
    <img [src]="backgroundImage" class="h-full">
    <div class="absolute -bottom-16 left-4">
        <div class="w-13 h-13 rounded-full border-2 border-blue-500">
            <img [src]="profileImage" alt="User Posts" class="w-52 h-52 rounded-full"/>
        </div>
    </div>
</div>
<!-- Bio -->
<div class="border-b-[1px] border-neutral-800 pb-4">
    <div class="flex justify-end p-2">
        <app-button (click)="edit()" label="Edit Profile" [secondary]="true"></app-button>
    </div>
    <div class="mt-8 px-4">
        <div class="flex flex-col">
            <p class="text-white text-2xl font-semibold">{{ userName }}</p>
            <p class="text-md text-neutral-500">{{ email }}</p>
        </div>
        <div class="flex flex-col mt-4">
            <p class="text-white">{{ bio }}</p>
        </div>
        <div class="flex flex-row items-center mt-4 gap-6">
            <div class="flex flex-row item-center gap-1" (click)="showFollowing()">
                <p class="text-white">{{ followingCount }}</p>
                <p class="text-neutral-500">Following</p>
            </div>
            <div class="flex flex-row items-center gap-1" (click)="showFollowers()">
                <p class="text-white">{{ followersCount }}</p>
                <p class="text-neutral-500">Followers</p>
            </div>
        </div>
    </div>
    <div>
        <mat-slide-toggle
            [formControl]="privacyToggle"
            (change)="onToggleChange($event.checked)">
            Set Account to Private
        </mat-slide-toggle>
    </div>
    <p>Your account is currently: <strong>{{ accountStatus }}</strong></p>

</div>
<user-post-listing/>
