<div class="col-span-1 h-full pr-4 md:pr-6">
    <div class="flex flex-col-items-end">
        <div class="space-y-2 lg-w-[230px]">
            <div class="pl-9">
                <div
                    class="rounded-full flex items-center justify-center  cursor-pointer transition text-blue-800  font-semibold font-serif lg:h-14 lg:w-14 lg:text-3xl">
                    <span
                        class="block lg:hidden text-red-500 mt-5 text-5xl hover:bg-slate-300 hover:bg-opacity-10">#</span>
                    <span class="hidden lg:block mt-10 p-10 pl-52 text-4xl ">Pictura<span
                        class="text-red-500">#</span></span>
                </div>

                <div class="mt-10 lg:pl-5">
                    <div class="flex flex-row items-center" *ngFor="let item of items">
                        <a [routerLink]="item.route"
                           (click)="selectRoute(item.route)"
                           [ngClass]="{'text-white': item.route !== selectedRoute, 'text-sky-500': item.route === selectedRoute}"
                           class="material-icons relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer"
                           [matBadge]="item.route === 'notification' && selectedRoute === 'notification' ? 1 : null">
                            {{ item.icon }}
                        </a>
                        <a [routerLink]="item.route"
                           (click)="selectRoute(item.route)"
                           class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                            <p class="hidden lg:block text-white text-lg">{{ item.label }}</p>
                        </a>
                    </div>


                    <!--logout button-->

                    <div (click)="logoutConfirmModal()" class="flex flex-row items-center">
                        <div
                            class="material-icons text-white relative rounded-full h-14 w-14 flex items-center justify-center p-4 hover:bg-slate-300 hover:bg-opacity-10 cursor-pointer">
                            logout
                        </div>
                        <div
                            class="relative hidden lg:flex items-center gap-4 p-4 rounded-full hover:bg-opacity-10 hover:bg-slate-300 cursor-pointer">
                            <p class="hidden lg:block text-white text-lg">
                                Logout
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-28" *ngIf="userProfileAvailable">
                    <div
                        class="lg:hidden h-14 w-14 rounded-full p-4 flex items-center justify-center bg-gray-600 hover:bg-opacity-80 transition cursor-pointer">
                        <Avatar/>
                    </div>
                    <!-- Posts button for large screens -->
                    <div routerLink="profile"
                        class="rounded-lg hidden lg:flex items-center justify-center gap-2 px-2 py-2 bg-gray-800 hover:bg-opacity-90 transition cursor-pointer">
                        <Avatar/>
                        <p class="text-white text-center font-light text-[15px] pt-[10px]">
                            {{userName}}
                        </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
