<div class="mt-5 ml-5 mr-5 mb-5">
    <div class="w-auto bg-white rounded-lg border border-gray-200 shadow-lg dark:bg-gray-900 dark:border-gray-700">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3">
                <div class="flex items-center space-x-6">
                    <div class="flex-shrink-0">
                        <img src="assets/images/user.png" class="ml-5 w-12 rounded-full border-none"/>
                    </div>
                    <div class="flex-1 min-w-0">
                        <p class="text-lg font-semibold text-gray-900 truncate dark:text-white">
                            Neil Sims
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>


