<div class="flex flex-col justify-end items-end pr-14 mt-20">
    <mat-form-field appearance="outline">
        <mat-icon matPrefix class="text-white">search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
    </mat-form-field>
</div>

<div class="pl-14 pr-14 mat-elevation-z8">
    <div *ngIf="dataSource.data.length === 0" class="flex flex-col justify-center items-center text-white bg-red-900 p-6 rounded-lg shadow-md">
        <mat-icon>warning</mat-icon>
        <p class="text-xl font-semibold">No Data Available</p>
        <p class="text-sm mt-2">Please check back later or add new data.</p>
    </div>

    <mat-table [dataSource]="dataSource" matSort *ngIf="dataSource.data.length > 0">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.id }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
        </ng-container>

        <!-- Created Date Column -->
        <ng-container matColumnDef="createdDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{ row.createdDate }} </mat-cell>
        </ng-container>

        <!-- Enabled Column -->
        <ng-container matColumnDef="blocked">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
<!--                <mat-slide-toggle-->
<!--                    [checked]="!row.is_blocked_by_admin"-->
<!--                    (change)="onToggleChange(row, $event.checked)">-->
<!--                    {{ row.is_blocked_by_admin ? 'Enable' : 'Disable' }}-->
<!--                </mat-slide-toggle>-->
                <mat-slide-toggle
                    [checked]="!row.isBlockedByAdmin"
                    (change)="onToggleChange(row, $event.checked)">
                    {{ row.isBlockedByAdmin ? 'Enable' : 'Disable' }}
                </mat-slide-toggle>

            </mat-cell>
        </ng-container>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator *ngIf="dataSource.data.length !== 0" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
