<div class="xl:w-[40rem] lg:w-[80%] md:w-[90%] xs:w-[96%] mx-auto flex gap-4 border-2 rounded-xl">
    <div
        class="lg:w-[40rem] md:w-[80%] sm:w-[88%] xs:w-full mx-auto shadow-2xl p-4 rounded-xl h-fit self-center dark:bg-black">
        <div>
            <h1 class="lg:text-3xl md:text-2xl sm:text-xl xs:text-xl font-serif font-extrabold mb-2 dark:text-white">
                Profile
            </h1>
            <form>
                <div class="w-full rounded-sm bg-blue-900 bg-cover bg-center bg-no-repeat items-center">
                    <!-- Profile Image -->
                    <div
                        class="mx-auto flex justify-center w-[141px] h-[141px] bg-blue-300/20 rounded-full bg-green-700 bg-cover bg-center bg-no-repeat">
                        <div class="bg-white/90 rounded-full w-6 h-6 text-center ml-28 mt-4">
                            <input type="file" name="profile" id="upload_profile" hidden required>
                            <label for="upload_profile">
                                <mat-icon>camera_alt</mat-icon>
                            </label>
                        </div>
                    </div>
                    <div class="flex justify-end">
                        <input type="file" name="profile" id="upload_cover" hidden required>
                        <div
                            class="bg-white flex items-center gap-1 rounded-tl-md px-2 text-center font-semibold">
                            <label for="upload_cover" class="inline-flex items-center gap-1 cursor-pointer">Cover
                                <mat-icon>camera_alt</mat-icon>
                            </label>
                        </div>

                    </div>
                </div>
                <h2 class="text-center mt-1 font-semibold dark:text-gray-300">Upload Profile and Cover Image
                </h2>
                <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                    <div class="w-full  mb-4 mt-6">
                        <label for="username" class="mb-2 dark:text-gray-300">UserName</label>
                        <input type="text"
                               class="mt-2 w-full border-2 rounded-lg dark:text-gray-200 dark:border-gray-600 dark:bg-gray-800"
                               id="username" placeholder="User Name">
                    </div>
                </div>

                <div class="flex lg:flex-row md:flex-col sm:flex-col xs:flex-col gap-2 justify-center w-full">
                    <div class="w-full">
                        <label for="message"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Bio</label>
                        <textarea id="message" rows="3"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                  placeholder="Write your bio here..."></textarea>
                    </div>
                </div>
                <div class="flex justify-end items-end mt-5">
                    <button mat-raised-button>Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
