<div *ngFor="let post of posts" class="p-4">
    <div class="max-w-3xl mx-auto bg-gray-900 text-white rounded-xl shadow-lg overflow-hidden">
        <div class="flex items-center p-5 border-b border-gray-700">
            <img [src]="'/assets/images/user.png'" alt="User Profile" class="w-10 h-10 rounded-full mr-4"/>
            <p class="text-lg font-mono">{{ post.user.name }}</p>
        </div>
        <div class="p-4">
            <p class="text-base">{{ post.caption }}</p>
        </div>
        <div class="w-full overflow-hidden">
            <img [src]="post.image.url" alt="User Posts" class="w-full object-cover"/>
        </div>
        <div class="p-4 border-t border-gray-700">
            <div class="flex items-center justify-between">
                <div class="flex space-x-4">
                    <span class="text-sm">{{ post.liked.length }}</span>

<!--                    <button mat-icon-button aria-label="Like"-->
<!--                            class="hover:text-red-600 transition-colors duration-200 ease-in-out"-->
<!--                            (click)="likePost(post.id)">-->
<!--                        <mat-icon>favorite</mat-icon>-->
<!--                    </button>-->
                    <button mat-icon-button
                            [ngClass]="{ 'text-red-600': isLiked, 'text-gray-400': !isLiked }"
                            aria-label="Like"
                            class="hover:text-red-600 transition-colors duration-200 ease-in-out"
                            (click)="likePost(post.id)">
                        <mat-icon>favorite</mat-icon>
                    </button>


                    <button mat-icon-button aria-label="Comment"
                            class="hover:text-blue-500 transition-colors duration-200 ease-in-out">
                        <mat-icon>comment</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button aria-label="Bookmark"
                            (click)="toggleBookmark()"
                            [matTooltip]="isBookmarked ? 'discard' : 'save'"
                            class="hover:text-blue-500 transition-colors duration-200 ease-in-out">
                        <mat-icon >
                            {{ isBookmarked ? 'bookmark' : 'bookmark_border' }}
                        </mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


